<section class="wrapperForRegistration">
  <div class="wrapperForYouAreBack">
    <div class="backgroundRegistration">
    </div>
    <h2 class="youComeBack" >Вы вернулись?</h2>
    <p class="comeIn">Тогда<br> выполните <a class="toLogInInRegistration" routerLink="/login">вход.</a></p>
    <h1 class="headingInRegistration">TROTTER</h1>
  </div>
  <div class="wrapperForRegistrationForm">
    <h2 class="createAc">Создание аккаунта</h2>
    <form [formGroup]="auth" class="formInRegPage" (ngSubmit)="onSubmit()" >
      <label for="loginInReg">Логин</label>
      <input formControlName="user" placeholder="введите ваш логин" id="loginInReg">
      <label for="passwordInReg">Пароль</label>
      <input formControlName="password" placeholder="введите ваш пароль" id="passwordInReg" type="password">
      <label for="repeatPass">Подтверждение пароля</label>
      <input formControlName="rePassword" placeholder="введите ваш пароль повторно" id="repeatPass" type="password">
      <button class="registrationButton" type="submit" [disabled]="auth.valid" [class.disable]="auth.valid" >
        Зарегистрироваться
      </button>
    </form>

  </div>
</section>
