<section class="mainPage">
  <div class="mainPageContainer">
    <header>
      <div class="logoBlockInHeader" routerLink="''">
        <img src="../../../../assets/LogoInHeader.svg" alt="logo undefined"/>
        <h2 class="trotterInHeader">Trotter</h2>
      </div>
      <div class="wrapperForHeaderButton" *ngIf="!auth">
        <button class="logInButton" routerLink="/login">
        Log in
        </button>
      </div>
      <div *ngIf="auth" class="photoInput authorise">
        <img src="../../../../assets/UserFoto.svg"/>
        <p>User Name</p>
        <div (click)="getOut()">Out</div>
      </div>
    </header>
    <section class="mainBlock">
      <article class="mainBlockTrotteList">
        <h2>Home</h2>
        <div class="mainBlockTrotteListWrapper">
          <div class="mainBlockTrotteListContainer">
            <form class="photoInput">
              <img src="../../../../assets/UserFoto.svg"/>
              <input placeholder="What’s happening?" maxlength="280" class="addNewTweetInList"/>
              <button type="submit" class="buttonWhichAddNewTweetInList">Neigh</button>
            </form>
            <div class="inclosureAndInput">
              <div class="inclosure">
                <img src="../../../../assets/inclosureImg.svg" alt="img">
                <img src="../../../../assets/inclosureGif.svg" alt="git">
                <img src="../../../../assets/inclosureSmile.svg" alt="smile">
                <img src="../../../../assets/inclosureLocation.svg" alt="location">
              </div>

            </div>
          </div>
        </div>
        <div id="trotterList"></div>
          <div *ngFor="let item of updatePosts">
              <div class="container" id="{{item.id}}" (click)="getPostById(item.id)"  routerLink="/twitt/{{item.id}}">
                <div class="wrapperUserPhoto">
                  <img src="../../../../assets/UserFoto.svg" alt="user photo">
                </div>
                <div class="trotter">
                  <div class="userInfo">
                    <h3>{{item.title}}</h3>
                    <div>
                      <div class="correctTrotterBlock">
                        <ul>
                          <li>
                            <img src="../../../../assets/editTrotterIcon.svg" alt="edit trotter">
                            <p class="editCurrentTweet">Edit</p>
                          </li>
                          <li>
                            <img src="../../../../assets/deleteTrotterIcon.svg" alt="delete trotter">
                            <p class="deleteCurrentTweet">Delete</p>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>
                  <p class=trotterText><span>{{item.body}}</span></p>
                </div>
                <div class="inclosureAndInput">
                  <div class="inclosure">
                    <img src="../../../../assets/inclosureImg.svg" alt="img">
                    <img src="../../../../assets/inclosureGif.svg" alt="git">
                    <img src="../../../../assets/inclosureSmile.svg" alt="smile">
                    <img src="../../../../assets/inclosureLocation.svg" alt="location">
                  </div>

                </div>
              </div>
          </div>
        <h3 class="moreTrotter">See more</h3>
      </article>
    </section>
    <footer>
      <div class="logoInFooter">
        <img src="../../../../assets/LogoInFooter.svg">
        <h2>trotter</h2>
      </div>
      <div class="howAndWhen">
        <p>VITALY CHYSTSYAKOV</p>
        <p>edited 31.08.2023</p>
      </div>
      <h3 class="mailInFooter">chystsyakov3@gmail.com</h3>
    </footer>
  </div>
</section>
