<section class="mainPage">
  <div class="mainPageContainer">
    <header>
      <div class="logoBlockInHeader">
        <img src="../../../../assets/LogoInHeader.svg" alt="logo undefined"/>
        <h2 class="trotterInHeader">Trotter</h2>
      </div>
      <div class="wrapperForHeaderButton">
        <button class="logInButton">
          Log in
        </button>
      </div>
    </header>
    <section class="mainBlock">
      <article class="mainBlockTrotteList">
        <h2>Home</h2>
        <div class="mainBlockTrotteListWrapper">
          <div class="mainBlockTrotteListContainer">
            <form class="photoInput">
              <img src="../../../../assets/UserFoto.svg"/>
              <input placeholder="What’s happening?" maxlength="280" class="addNewTweetInList"/>
              <button type="submit" class="buttonWhichAddNewTweetInList">Neigh</button>
            </form>
            <div class="inclosureAndInput">
              <div class="inclosure">
                <img src="../../../../assets/inclosureImg.svg" alt="img">
                <img src="../../../../assets/inclosureGif.svg" alt="git">
                <img src="../../../../assets/inclosureSmile.svg" alt="smile">
                <img src="../../../../assets/inclosureLocation.svg" alt="location">
              </div>

            </div>
          </div>
        </div>
        <div id="trotterList"></div>

        <h3 class="moreTrotter">See more</h3>
      </article>
    </section>
    <footer>
      <div class="logoInFooter">
        <img src="../../../../assets/LogoInFooter.svg">
        <h2>trotter</h2>
      </div>
      <div class="howAndWhen">
        <p>VITALY CHYSTSYAKOV</p>
        <p>edited 31.08.2023</p>
      </div>
      <h3 class="mailInFooter">chystsyakov3@gmail.com</h3>
    </footer>
  </div>
</section>
<button (click)="addNew.emit();console()">aaaaaaaaaaaaaaaaaaa{{ posts }}</button>
